
@{
    ViewBag.Title = "Доставка";
}


<div class="container">
    <div class="row">
        <div class="col-11"><h2 class="display-4">Доставка</h2></div>
        <div class="col-2"><img src="~/Content/img/imgDelivery.jpeg" class="img-fluid img-thumbnail" /></div>
        <div class="col-10">
            <p>Доставка осуществляется при наличии товара, машины бензина и трезвого водителя</p>
            <p>В зависимости уделенности микрорайона различаются по ценам</p>
            <table class="table table-hover">
                <caption>Условия осуществления доставки</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Район</th>
                        <th scope="col">Условия</th>
                        <th scope="col">Цена<span class="badge badge-info">Руб</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>777</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>242</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>ваыа</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

